body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:2415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2414px;
  height:869px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:196px;
  width:2414px;
  height:869px;
  display:flex;
  font-size:22px;
}
#u364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FD4100;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:16px;
  width:880px;
  height:129px;
  display:flex;
  font-family:'Arial Gras', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FD4100;
}
#u365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:16px;
  background:inherit;
  background-color:rgba(253, 65, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FD4100;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:1134px;
  width:1183px;
  height:16px;
  display:flex;
  opacity:0.5;
  color:#FD4100;
}
#u366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1429px;
  width:1622px;
  height:113px;
  display:flex;
  text-align:left;
}
#u367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1599px;
  width:1622px;
  height:113px;
  display:flex;
  text-align:left;
}
#u368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:265px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1769px;
  width:1622px;
  height:265px;
  display:flex;
  text-align:left;
}
#u369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:113px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2104px;
  width:674px;
  height:113px;
  display:flex;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#555555;
  text-transform:uppercase;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1125px;
  width:552px;
  height:64px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#555555;
  text-transform:uppercase;
}
#u371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u372_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u372_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1257px;
  width:1622px;
  height:113px;
  display:flex;
  font-size:25px;
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u372_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u372.focused {
}
#u372_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u372.disabled {
}
#u373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u373_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u373_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#8C8C8C;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1426px;
  width:1622px;
  height:113px;
  display:flex;
  font-size:25px;
  color:#8C8C8C;
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u373_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#8C8C8C;
}
#u373.focused {
}
#u373_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#8C8C8C;
}
#u373.disabled {
}
#u374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u374_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u374_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1599px;
  width:1622px;
  height:113px;
  display:flex;
  color:#8C8C8C;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u374_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u374.focused {
}
#u374_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:113px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u374.disabled {
}
#u375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:285px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u375_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:285px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u375_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:285px;
  padding:10px 10px 10px 10px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1750px;
  width:1622px;
  height:285px;
  display:flex;
  color:#8C8C8C;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u375_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u375.focused {
}
#u375_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1622px;
  height:285px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u375.disabled {
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:113px;
  background:inherit;
  background-color:rgba(253, 65, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFCFC;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2104px;
  width:674px;
  height:113px;
  display:flex;
  font-size:25px;
  color:#FFFCFC;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1287px;
  width:269px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1451px;
  width:112px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u378 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1629px;
  width:96px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u379 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1849px;
  width:160px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u380 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#555555;
  text-transform:uppercase;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1116px;
  width:301px;
  height:64px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#555555;
  text-transform:uppercase;
}
#u381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1205px;
  width:716px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1282px;
  width:716px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u383 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:16px;
  background:inherit;
  background-color:rgba(253, 65, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FD4100;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:1965px;
  top:1430px;
  width:506px;
  height:16px;
  display:flex;
  opacity:0.5;
  color:#FD4100;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#555555;
  text-transform:uppercase;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1413px;
  width:241px;
  height:64px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#555555;
  text-transform:uppercase;
}
#u385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1517px;
  width:469px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u386 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#555555;
  text-transform:uppercase;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1635px;
  width:193px;
  height:55px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#555555;
  text-transform:uppercase;
}
#u387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1731px;
  width:544px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u388 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:1817px;
  width:544px;
  height:54px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#AAAAAA;
}
#u389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2414px;
  height:869px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:196px;
  width:2414px;
  height:869px;
  display:flex;
  opacity:0.17;
  font-size:22px;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:63px;
  color:#FFFCFC;
  text-align:left;
  text-transform:uppercase;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:480px;
  width:962px;
  height:105px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:63px;
  color:#FFFCFC;
  text-align:left;
  text-transform:uppercase;
}
#u391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:47px;
  color:#FFFCFC;
  text-align:left;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:631px;
  width:332px;
  height:105px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:47px;
  color:#FFFCFC;
  text-align:left;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:74px;
  background:inherit;
  background-color:rgba(253, 65, 0, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:247px;
  width:147px;
  height:74px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:247px;
  width:145px;
  height:74px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:249px;
  width:213px;
  height:74px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:74px;
  background:inherit;
  background-color:rgba(223, 64, 28, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:1721px;
  top:249px;
  width:213px;
  height:74px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:1965px;
  top:249px;
  width:213px;
  height:74px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:89px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:249px;
  width:97px;
  height:89px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:74px;
  background:inherit;
  background-color:rgba(253, 65, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:249px;
  width:213px;
  height:74px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFCFC;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Black', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:43px;
  color:#FFFCFC;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:246px;
  width:265px;
  height:74px;
  display:flex;
  font-family:'Montserrat Black', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:43px;
  color:#FFFCFC;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:16px;
  background:inherit;
  background-color:rgba(253, 65, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FD4100;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:1921px;
  top:1658px;
  width:551px;
  height:16px;
  display:flex;
  opacity:0.5;
  color:#FD4100;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
  background:inherit;
  background-color:rgba(253, 65, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FD4100;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:1995px;
  top:1130px;
  width:477px;
  height:16px;
  display:flex;
  opacity:0.5;
  color:#FD4100;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2414px;
  height:580px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2286px;
  width:2414px;
  height:580px;
  display:flex;
  color:#FFFFFF;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2414px;
  height:670px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2286px;
  width:2414px;
  height:670px;
  display:flex;
  opacity:0.35;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1336px;
  height:504px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:2341px;
  width:1336px;
  height:504px;
  display:flex;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2414px;
  height:90px;
  background:inherit;
  background-color:rgba(253, 65, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2866px;
  width:2414px;
  height:90px;
  display:flex;
}
#u406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:45px;
  color:#FFFFFF;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:2875px;
  width:522px;
  height:73px;
  display:flex;
  opacity:0.54;
  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:45px;
  color:#FFFFFF;
}
#u407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
